<common-search #searchComponent [searches]="searches" [title]="title" (event)="search()"></common-search>
<common-crud-buttons #crudButtonsComponent [listTableComponent]="listTableComponent" [listComponent]="this"
  (searchEvent)="search()" (refreshEvent)="refresh()" (addEvent)="openEditDialog(true)" (editEvent)="openEditDialog(false)" (deleteEvent)="delete()" 
  *ngIf="!isPopup">
</common-crud-buttons>
<div fxLayout="row" fxLayoutAlign="space-between left" class="flex-p" *ngIf="!isPopup">
  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-raised-button (click)="runOnce()">즉시실행</button>
    <button mat-raised-button (click)="resume()">스케줄 재개</button>
    <button mat-raised-button (click)="pause()">스케줄 정지</button>
  </div> 
</div>
<common-list-table #listTableComponent [columns]="columns" (event)="search()"></common-list-table>